/* COMMON CSS */
@font-face{
  font-family: Work Sans;
  src: url("/assets/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
body {
  background: #d9e2f2;
  font-family: Work Sans;
  margin: 0;
}
main {
  background: #fff;
  margin: auto;
  max-width: 1440px;
}
ul {
  list-style: none;
}
/* SECTION CSS */
.container {
  display: flex;
  gap: 32px;
  padding: 48px 80px;
}
.images {
  width: calc(100%-406px);
}
.images-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.images-list-item {
  max-height: 400px;
  max-width: 405px;
  width: 45%;
}
.images-list-item img {
  width: 100%;
}
.contents {
  display:flex;
  flex-direction:column;
  font-family: "Work Sans", sans-serif;
  justify-content:center;
  width: 406px
}
.contents__label {
  font-size: 14px;
}
.contents___heading {
  font-size:24px;
  margin: 5px 0
}
.contents__price {
  font-size: 18px;
}
.contents__colours {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.contents__colours-clr {
  border-bottom: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
  color: #111827;
  font-size: 16px;
}
.contents__colours-list {
  display: flex;
}
.contents__colours-list > * {
  cursor: pointer;
  margin: 0 3px;
}
.contents__discription {
  color: #4b5563;
  font-size: 16px;
}
.contents__add-to-cart {
  background-color: #111827;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
  width: 100%;
}
.contents__buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 0;
}
.contents__buttons-item-btn {
  align-items:center;
  background: #fff;
  border: 1px solid #111827;
  border-radius: 2px;
  color: #111827;
  cursor: pointer;
  display:flex;
  font-size: 16px;
  padding: 10px;
  width: 150px
}
.contents__buttons-item-btn >*{
  margin:0 10px
}
.contents__product-info-head {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.contents__product-info-list {
  color: #4b5563;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.contents__product-info-list-details{
  display: inline;
  margin: 0;
}
.contents__product-info-list dd::after{
  content: '\A';
  white-space: pre;
}
.contents__contact-support-head {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.contents__contact-support-number {
  color: #3b82f6;
  cursor: pointer;
  font-style: normal;
}

